body{
	padding-top: 70px;
	padding-bottom: 70px;
}
.cb-no-underline:hover{
	text-decoration: none;
}
.cb-left-padding{
	padding-left: 20px;
}

.sw-front{
	z-index: 2;
}

.cb-gray{
	background-color: gray;
}

.cb-black{
	color: black;
}

/*.container{
	text-align: center;*/
	/*text-decoration: overline;*/
/*	color: black;
}*/

button {
 	max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}*/


.cb-no-underline:hover{
	text-decoration: none;
}
/*.cb-left-padding{
	padding-left: 20px;
}*/

.list-group-item{
}

.list-group{
}


.cb-no-underline{
	color: white
}

.cb-absolute-right{
	position: absolute;
	right: 15px;
}


.cb-width{
	width: 100%;
}

.cb-color-white{
	color: white;
}

.cb-align-center{
	text-align: center;
}

.cb-vl{
	border-left: 6px black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.cb-float-right{
    float: right;
}

.cb-80-width{
  width: 80%;
}

.cb-font-variant{
  font-variant: small-caps;
}

.cb-list-style{
  list-style: none;
}