body{
	padding-top: 70px;
	padding-bottom: 70px;
}
/*.sw-no-underline:hover{
	text-decoration: none;
}
.sw-left-padding{
	padding-left: 20px;
}

.sw-front{
	z-index: 2;
}

.sw-gray{
	background-color: gray;
}

.sw-black{
	color: black;
}

.sw-absolute-right{
	position: absolute;
	right: 15px;
}*/

/*.navbar {
  top: 10px;
  left: 0px;
  height: 22px;
  z-index: 20;
  width: 100%;
  background-color: #D2B48C;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 85%;
  margin: 0px auto;
  -moz-box-shadow: 10px 10px 5px #333;
  -webkit-box-shadow: 10px 10px 5px #333;
  box-shadow: 10px 10px 5px #333;
}*/
/*.container{
	text-align: center;*/
	/*text-decoration: overline;*/
/*	color: black;
}*/

/*used for Login*/
/*h1{
	text-align: center;
}


.sw-font-white{
	color: white;
}

button {
 	max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}*/


/*form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
/
.sw-no-underline:hover{
	text-decoration: none;
}
.sw-left-padding{
	padding-left: 20px;
}
.list-group-item{

}

.sw-font-white{
	color: white
}
.sw-no-underline{
	color: white
}

.fas-fa-check{
	text-decoration: none;
	color: white;	
}

.sw-absolute-right{
	position: absolute;
	right: 15px
}

.flex-row-reverse{

}

.form-inline{
	
}

.fa-plus{
	color: white;
}

.fa-arrow-left{
	color: white;
}*/

.cb-user{
	width: 100%;
}

.cb-color-white{
	color: white;
}

.cb-align-center{
	text-align: center;
}