body{
	padding-top: 70px;
	padding-bottom: 70px;
}

#container {
	text-align: center;
	text-decoration: overline;
}

h1{
	color: black;
	text-align: center;
}

form{

}

.sw-font-white{
	color: white;
}

.sw-no-underline:hover{
	text-decoration: none;
}

.cb-width{
	width: 100%;
}

.cb-float-right{
    float: right;
}
