.sw-no-underline:hover{
	text-decoration: none;
}
.sw-left-padding{
	padding-left: 20px;
}
.list-group-item{

}

.sw-font-white{
	color: white
}
.sw-no-underline{
	color: white
}

.fas-fa-check{
	text-decoration: none;	
}

.sw-absolute{
	position: absolute;
	right: 15px
}